@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    height: 4px;
    width: 0.25rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6.25rem;
    background: #dcdade;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #bcbfc5;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #a7aaaf;
  }
  & a {
    text-decoration: none;
    color: #000000;
    &:hover {
      color: #1976d2;
    }
  }
}

.MuiFormControl-root {
  height: 60px;
  & .MuiFormHelperText-root {
    text-align: end;
    margin: 0;
  }
}
